<div class="wrap">

    <h2 id="tittle">PASSENGER INFO</h2>

    <div class="headboard">
        <p>Hide information</p>

        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>

    <div class="clearfix"></div>

    <div class="info">
        <div class="from">
            <p id="check"><i class="fas fa-check"></i></p>
            <strong>Jackson Heights</strong>
            <p>37-27 74th Street</p>
        </div>
        
        <div class="to">
            <p id="map"><i class="fas fa-map-marker-alt"></i></p>
            <strong>Greenpoint</strong>
            <p>81 Gate St Brooklyn</p>
        </div>
    </div>

    <hr id="separator">

    <div class="clearfix"></div>
    
    <hr id="separator-details">

    <div class="info-details">
        <div id="distance" class="box">
            <strong>12.3 km</strong>
            <p>Distance</p>
        </div>

        <div id="time" class="box">
            <strong>42 min</strong>
            <p>Time</p>
        </div>

        <div id="price" class="box">
            <strong>$34.20</strong>
            <p>Price</p>
        </div>

        <div id="energy" class="box">
            <strong>12.4 kWh</strong>
            <p>Energy</p>
        </div>
    </div>

</div>