.wrap {
    width: 95%;
    margin: 60px auto;
}

.clearfix {
    float: none;
    clear: both;
}

.name {
    margin-top: 50px;
    display: flex;
    align-items: center;
}strong {
    color: #2e384d;
}p {
    color: #cccccc;
}

.data {
    margin-left: 20px;
}

img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}