.card {
    border: 10px solid #2e384d;
    width: auto;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/*RESPONSIVE*/
@media (max-width: 992px) {
    .card {
        width: auto;
    }
}

@media (max-width: 768px) {
    .card {
        width: auto;
    }
}

@media (max-width: 576px) {
    .card {
        width: auto;
    }
}