<div class="wrap">

    <div class="clearfix"></div>

    <div class="name">
        <img src="https://www.nuevatribuna.es/media/nuevatribuna/images/2018/11/08/2018110813211214994.jpg" alt="Image Woman">
        <div class="data">
            <p><strong>Nora M. Buchanan</strong></p>
            <p>4 interactions</p>
        </div>
    </div>

    <div class="information-passenger">
        <div class="email">
            <p id="tittle">EMAIL</p>
            <p id="value">invision@invisionapp.com</p>
        </div>
        
        <div class="phone">
            <p id="tittle">PHONE</p>
            <p id="value">+144-3412-4422</p>
        </div>
        
        <div class="location">
            <p id="tittle">LOCATION</p>
            <p id="value">New York, NY</p>
        </div>
    </div>

    <div class="payment">
        <a href="#"><i class="fab fa-cc-paypal"></i></a>
        <a href="#"><i class="fab fa-cc-visa"></i></a>
        <a href="#"><i class="fab fa-cc-mastercard"></i></a>
        <a href="#"><i class="fab fa-cc-apple-pay"></i></a>
    </div>

</div>