.wrap {
    width: 95%;
    margin: 60px auto;
}

.clearfix {
    float: none;
    clear: both;
}

.blue {
    color: blue;
}

.information-passenger {
    margin-top: 6px;
    width: 20%;
    float: left;
}

.information-passenger p {
    margin-bottom: 20px;
}

.payment {
    margin-top: 44px;
    margin-left: 45%;
}i {
    margin-right: 5%;
    color: #2e384d;
    font-size: 170px;
}

.info {
    margin-top: 12%;
}strong{
    color: #2e384d;
}p{
    color: #cccccc;
}

.from {
    float: left;
    padding: 10px 10px 0px 235px;
}

.separator {
    border: 1px solid #cccccc;
    width: 39%;
    float: left;
    margin-top: 2%;
}

.to {
    float: right;
    padding: 10px 330px 0px 0px;
}

#check i {
    background-color: #d6dfff;
    color: #2e5bff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-left: 78%;
    margin-bottom: 15px;
}

#map i {
    background-color: #d7efd6;
    color: #51b84d;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 15px;
}

.separator-details {
    border: 1px solid #cccccc;
    width: 77%;
    margin-top: 4%;
    margin-left: 10%;
    margin-bottom: 4%;
}

.info-details {
    display: flex;
}

.box {
    margin-left: 13%;
    margin-right: 50px;
}strong {
    color: #2e384d;
}and p {
    color: #cccccc;
}

#tittle {
    letter-spacing: 3px;
    font-weight: bold;
    color: #cccccc;
}

#value {
    color: #2e384d;
}