<div class="wrap" *ngIf="show">

    <div class="clearfix"></div>

    <div class="information-passenger">
        <div class="email">
            <p id="tittle">EMAIL</p>
            <p id="value">invision@invisionapp.com</p>
        </div>
        
        <div class="phone">
            <p id="tittle">PHONE</p>
            <p id="value">+144-3412-4422</p>
        </div>
        
        <div class="location">
            <p id="tittle">LOCATION</p>
            <p id="value">New York, NY</p>
        </div>
    </div>

    <div class="payment">
        <i class="fab fa-cc-paypal"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-apple-pay"></i>
    </div>

    <div class="info">
        <div class="from">
            <p id="check"><i class="fas fa-check"></i></p>
            <strong>Jackson Heights</strong>
            <p>37-27 74th Street</p>
        </div>

        <div class="separator">

        </div>
        
        <div class="to">
            <p id="map"><i class="fas fa-map-marker-alt"></i></p>
            <strong>Greenpoint</strong>
            <p>81 Gate St Brooklyn</p>
        </div>
    </div>

    <div class="clearfix"></div>
    
    <div class="separator-details">

    </div>

    <div class="info-details">
        <div id="distance" class="box">
            <strong>12.3 km</strong>
            <p>Distance</p>
        </div>

        <div id="time" class="box">
            <strong>42 min</strong>
            <p>Time</p>
        </div>

        <div id="price" class="box">
            <strong>$34.20</strong>
            <p>Price</p>
        </div>

        <div id="energy" class="box">
            <strong>12.4 kWh</strong>
            <p>Energy</p>
        </div>
    </div>

</div>